/*
**All breakpoints**
**sp_sm
  @media ( max-width: 320px ) {}
**sp
  @media ( max-width: 767px) {}
**pc
  @media ( min-width: 768px ) {}
**pc_lg
  @media ( min-width: 1200px ) {}
**tablet
  @media ( min-width: 768px ) and ( max-width: 1024px ) {}
**IE hack
  @media all and (-ms-high-contrast:none) {}
*/
.m_todays_movie_headline {
  font-size: 1rem;
}

.m_todays_movie_date {
  font-size: 0.875rem;
}

.l_utility_description {
  font-size: 0.875rem;
}

.m_list_ranking > li:nth-child(3):before, .m_list_ranking > li:nth-child(2):before, .m_list_ranking > li:nth-child(1):before {
  content: counter(item) "-т";
}

@media (min-width: 768px) {
  .m_list_ranking_data {
    margin: 0 1.875rem 0 1em;
  }
}

.l_breadcrumb {
  word-break: break-all !important;
}
